//Pallete
$color-1: #2c4b60;
$color-2: #2d3e50;
$color-3: #22303d;
$color-4: #16a086;
$color-5: #3bd4b6;
$color-6: #18b596;
$color-7: #19cfa9;
$color-8: #a1f2e3;
$color-9: #fff;
$color-10: #e4e8eb; 
$color-11: #d1d6da;
$color-12: #363636;
$color-13: #8d8d8d;
$color-14: #8b8b8b;
$color-15: #f26c4f;
$color-16: #e1e1e1;
$color-17: #ebebeb;
$color-18: #15a186;
$color-19: #8a8a8a;
$color-20: #d5d5d5;
$color-21: #e5e9ea;

//Buttons
$button-height: 75px;
$button-min-width: 230px;
$button-font-size: 18px;
$button-border-radius: 4px;
$button-border-color: $color-9;
$button-background-color: $color-3;
$button-color: $color-9;
$button-accent-background: $color-4;
$button-accent-color: $color-9;
$button-accent-border-color: $color-5;
$button-accent-color: $color-9;

//Transition
$transition: 300ms ease-out;

//Responsividade
$responsive-1: 930px;
$responsive-2: 750px;
$responsive-3: 500px;