$font-location: '../fonts/';
$font-list: 'georgia', 'georgiab', 'georgiai', 'georgiaz', 'OpenSans-Bold', 'OpenSans-BoldItalic', 'OpenSans-ExtraBold', 'OpenSans-ExtraBoldItalic', 'OpenSans-Italic', 'OpenSans-Light', 'OpenSans-LightItalic','OpenSans-Regular', 'OpenSans-Semibold', 'OpenSans-SemiboldItalic';
$font-names: 'Georgia', 'GeorgiaBold', 'GeorgiaItalic', 'GeorgiaZ', 'OpenSans-Bold', 'OpenSans-BoldItalic', 'OpenSans-ExtraBold', 'OpenSans-ExtraBoldItalic', 'OpenSans-Italic', 'OpenSans-Light', 'OpenSans-LightItalic','OpenSans-Regular', 'OpenSans-Semibold', 'OpenSans-SemiboldItalic';

@each $font in $font-list {
    $index: index($font-list, $font);
    $font-name: nth($font-names, $index);
    
    @font-face {
        font-family: $font-name;
        src: url($font-location + $font + '.ttf');
    }
}