$footer-height: 100px;
$footer-spacing: 5%;

.footer {
    @extend %flex-between;
    border-top: 1px solid $color-16;
    min-height: $footer-height;
    background: white;

    .navigation {
        margin-left: $footer-spacing;
        
        &-item {
            min-width: 80px;
            font-size: 16px;
            font-family: 'OpenSans-Regular';
            color: $color-19;
            padding: 34px 20px;
            margin: 0 10px;
            text-align: center;
            display: inline-block;
        }
    }

    .underlinable:before {
        background-color: $color-19;
    }

    .other-info {
        margin-right: $footer-spacing;
    }

    .author {
        font-size: 18px;
        font-family: 'OpenSans-Regular';
        margin-left: 20px;
        color: $color-19;
    }

    @media all and (max-width: $responsive-1) {
        .navigation {
            width: 55%;

            &-item {
                text-align: left;
                font-size: 14px;
                text-align: left;
            }
        }

        .other-info {
            width: 30%;
            display: flex;
            flex-direction: column;
        }

        .author {
            margin-left: 0;
            margin-top: 20px;
            font-size: 16px;
        }
    }

    @media all and (max-width: $responsive-1) {
        flex-direction: column;
        
        .navigation {
            width: 100%;
            margin: 0;
            padding: 0 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &-item {
                font-size: 12px;
                text-align: center;
            }
        }

        .other-info {
            width: 100%;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
    }    
}