body {
    overflow-x: hidden;
    max-width: 100vw;
}

*, * * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

//Placeholders
%flex {
    display: flex;
}

%flex-center {
    @extend %flex;
    align-items: center;
    justify-content: center;
}

%flex-between {
    @extend %flex;
    align-items: center;
    justify-content: space-between;
}

%flex-around {
    @extend %flex;
    align-items: center;
    justify-content: space-around;
}

%flex-column {
    @extend %flex;
    flex-direction: column;
}

%flex-wrap {
    @extend %flex;
    flex-wrap: wrap;
}

//General Styles
.menu-is-open {
    overflow: hidden;
}

.section {
    @extend %flex-center;
    
    padding: 20px;
    min-height: 100vh;
    min-width: 100vw;

    position: relative;

    &-small {
        min-height: 50vh;
        padding: 20px 0;
    }

    &-container {
        @extend %flex-center;
        max-width: 1020px;
        width: 70%;

        @media all and (max-width: $responsive-1) {
            width: 100%;
            padding: 0 10px;
        }
    }
}

.gradient-bar:after {
    $gradient: repeating-linear-gradient(to right, 
        $color-5 10%, 
        $color-6 10%, 
        $color-6 20%, 
        $color-7 20%, 
        $color-7 30%,
        $color-8 30%,
        $color-8 40%
    );
    
    content: ' ';

    height: 8px;
    width: 100vw;

    position: absolute;
    bottom: 0;

    background: white;
    background: $gradient;
}

.overflow-hidden {
    overflow: hidden !important;
}

.bar {
    position: absolute;
    border: none;
    border-top: 1px solid $color-21;
    width: 100vw;
    height: 10px;
    z-index: -1;
}

//Hover Effects
.underlinable {
    position: relative;
    text-decoration: none;

    &:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0px;
        left: 0;
        background-color: $color-4;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
}

//Inputs
.button {
    height: $button-height;
    min-width: $button-min-width;
    border: 1px solid $button-border-color;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    transition: background-color $transition;
    background-color: $button-background-color;
    color: $button-color;

    &:hover {
        background-color: darken($button-background-color, 10);
    }

    &-accent {
        background-color: $button-accent-background;
        color: $button-accent-color;
        border: none;
        border-bottom: 2px solid $button-accent-border-color;
        
        &:hover {
            background-color: darken($button-accent-background, 10);
        }
    }

    @media all and (max-width: $responsive-1) {
        height: 45px;
        font-size: 14px;
    }    
}

//Responsive
@media all and (max-width: $responsive-1) {
    .section {
        max-width: 100vw;
        overflow-x: hidden;
    }
    
    .bar {
        display: none;
    }
    
    .show-on-responsive {
        display: inline-block;
    }
}

@media all and (min-width: $responsive-1) {
    .show-on-responsive {
        display: none;
    }
}