$header-height: 100px;
$header-spacing: 14%;

.header {
    @extend %flex-between;
    
    height: $header-height;
    width: 100vw;
    background-color: $color-1;
    position: fixed;
    top: 0;
    z-index: 100;
        
    .logo-sanar {
        margin-left: $header-spacing;
    }

    .navigation {
        margin-right: $header-spacing;
        
        &-item {
            min-width: 100px;
            font-size: 18px;
            font-family: 'OpenSans-Bold';
            color: $color-4;
            padding: 34px 20px;
            margin: 0 10px;
            text-align: center;
            display: inline-block;

            &-icon {
                min-width: 40px;
            }
        }
    }

    .menu-action {
        fill: white;
    }

    #menu-closer {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    //Responsive
    @media all and (max-width: $responsive-1) {
        .navigation-wrapper {
            width: 100vw;
            height: 100vh;
            background: rgba($color-1, .9);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;
        }

        .navigation-item {
            font-size: 32px;
            color: $color-9;
        }
    }
}

.menu-is-open {
    .navigation-wrapper {
        display: flex;
    }
}