//Devices.css
.marvel-device.iphone4s.silver {
    background: transparent;

    .screen {
        box-shadow: none;
    }

    &:before {
        background: $color-10;
    }

    .home {
        box-shadow: inset 0 0 0 1px $color-9;
        background: $color-11;

        &:after {
            border-color: $color-9;
        }
    }

    .sensor {
        @extend %flex-center;
        
        width: 10px;
        margin-left: -6px;

        &:after {
            content: ' ';
            width: 5px;
            height: 5px;
            display: block;
            background: $color-10;
            border-radius: 100%;
        }
    }
}