.section-phasellus {
    .section-container {
        @extend %flex-column;
        padding-top: 100px;
    }

    .overtitle {
        font-size: 18px;
        font-family: 'GeorgiaItalic';
        margin-bottom: 8px;
        color: $color-14;
    }

    .title {
        font-size: 36px;
        font-family: 'OpenSans-Regular';
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
    }

    .box {
        @extend %flex-center;
        @extend %flex-column;

        width: 100%;
        min-width: 300px;
        max-width: 460px;
        height: 340px;

        margin-top: 50px;

        border: 1px solid $color-16;
        padding: 80px 20px;

        &-avatar {
            width: 100px;
            min-width: 100px;
            height: 100px;
            min-height: 100px;

            border-radius: 100%;
            background: $color-17;
            margin-bottom: 30px;
        }

        &-wrapper {
            @extend %flex-wrap;
            @extend %flex-around;
            
            width: 100%;
        }

        &-title {
            font-size: 22px;
            font-family: 'OpenSans-Regular';
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 6px;
        }

        &-subtitle {
            font-size: 16px;
            color: $color-18;
            font-family: 'Georgia';
            text-align: center;
            margin-bottom: 30px;
        }

        &-message {
            font-size: 16px;
            color: $color-19;
            font-family: 'GeorgiaItalic';
            text-align: center;
            line-height: 1.4em;
        }
    }

    .bar {
        transform: rotate(30deg);
        top: -378px;
        right: -200px;
    }

    @media all and (max-width: $responsive-1) {
        .section-container {
            padding-top: 20px;
        }

        .title {
            font-size: 26px;
        }

        .overtitle {
            font-size: 16px;
        }
    }
}