.section-selly {
    background: $color-2;
    z-index: 2;
    
    %section-title {
        text-align: center;
        font-family: 'OpenSans-Light';
        color: $color-9;
    }

    .section-container {
        @extend %flex-column;
        padding-top: 100px;
    }

    .selly-logo {
        margin-bottom: 60px;
    }

    .title {
        @extend %section-title;

        font-size: 36px;
        margin-bottom: 40px;
        line-height: 1.2em;

        span {
            font-family: 'OpenSans-Semibold';
        }
    }

    .subtitle {
        @extend %section-title;
        
        font-size: 19px;
        line-height: 1.6em;
        margin-bottom: 40px;
    }

    .button-accent {
        margin-right: 30px;
    }

    .button-wrapper {
        margin-bottom: 40px;
    }

    @media all and (max-width: $responsive-3) {
        .selly-logo {
            width: 180px;
            margin-bottom: 40px;
        }

        .title {
            font-size: 26px;
            margin-bottom: 20px;
        }

        .subtitle {
            font-size: 16px;
            margin-bottom: 20px;
        }

        .button-wrapper {
            text-align: center;
            margin-bottom: 20px;
        }

        .button-accent {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
}