.section-signup {
    background: $color-2;

    .section-container {
        @extend %flex-column;
    }

    .alert {
        @extend %flex-center;

        font-size: 18px;
        font-family: 'GeorgiaItalic';
        color: $color-9;
        background: $color-15;
        width: 90%;
        max-width: 700px;
        min-height: 40px;
        border-radius: 4px;
        margin-top: 20px;

        img {
            margin-right: 10px;
        }
    }

    .input-wrapper {
        @extend %flex-center;
        @extend %flex-between;

        width: 90%;
        max-width: 700px;
        background: $color-9;
        border-radius: 4px;
        padding-left: 20px;
        margin-top: 70px;
        overflow: hidden;

        input {
            padding-left: 20px;
            border: none;
            width: 100%;
            font-size: 22px;
            font-family: 'OpenSans-Light';            
            outline: none;
            color: $color-11;

            &::-webkit-input-placeholder,
            &::-moz-placeholder,
            &::-ms-input-placeholder, {
             color: $color-11;
            }
        }

        svg {
            fill: $color-11;
        }
    }

    .title {
        font-size: 43px;
        font-family: 'OpenSans-Light';
        text-transform: uppercase;
        line-height: 1.2em;
        margin-bottom: 20px;
        color: $color-9;
        text-align: center;
    }

    .subtitle {
        font-size: 18px;
        font-family: 'OpenSans-Light';
        color: $color-9;
        text-align: center;
        line-height: 1.6em;
    }

    @media all and (max-width: $responsive-1) {
        padding: 40px 0;

        .title {
            font-size: 26px;
        }

        .subtitle {
            font-size: 16px;
        }

        .input-wrapper {
            flex-direction: column;
            padding: 20px 0;;
            margin-top: 20px;

            input {
                padding: 0;
                margin-bottom: 30px;
                text-align: center;
                font-size: 18px;
            }
        }

        .alert {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 20px;
            line-height: 1.4em;

            img {
                margin-bottom: 10px;
            }
        }
    }
}