.section-quisque {
    .section-container {
        padding-top: 100px;
        @extend %flex-column;
    }

    .overtitle {
        font-size: 18px;
        font-family: 'GeorgiaItalic';
        margin-bottom: 8px;
        color: $color-14;
    }

    .title {
        font-size: 36px;
        font-family: 'OpenSans-Regular';
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
    }

    .box-wrapper {
        @extend %flex-wrap;
    }

    .bar {
        transform: rotate(170deg);
        left: -25px;
        z-index: -1;
        top: 0;
    }
    
    .bar-bottom {
        transform: rotate(30deg);
        left: -60vh;
        z-index: -1;
        top: 95vh;
    }

    .box {
        @extend %flex-center;

        $box-size: 240px;
        width: $box-size;
        height: $box-size;
        border: 1px solid $color-10;

        &-content {
            width: $box-size - 20px;
            height: $box-size - 20px;
            background: $color-10;
        }

        &-wrapper {
            @extend %flex-around;
            width: 100%;
            margin-top: 60px;
            margin-bottom: 60px;
        }

        &-item {
            width: $box-size;
            margin-top: 20px;
        }

        &-title {
            font-family: 'OpenSans-Regular';
            text-transform: uppercase;
            text-align: center;
            font-size: 22px;
            color: $color-12;
            margin-top: 40px;
        }

        &-subtitle {
            font-family: 'GeorgiaItalic';
            text-align: center;
            font-size: 16px;
            color: $color-14;
            margin-top: 20px;
            line-height: 1.6em;
        }
    }

    @media all and (max-width: $responsive-1) {
        .box-wrapper {
            margin-top: 20px;
        }

        .title {
            font-size: 26px;
        }

        .overtitle {
            font-size: 16px;
        }
    }
}