.section-rhoncus {
    .section-container {
        @extend %flex-column;
    }

    .subtitle {
        font-size: 22px;
        font-family: 'GeorgiaItalic';
        margin-bottom: 8px;
        color: $color-14;
        text-align: center;
        line-height: 1.8em;
        margin-bottom: 40px;
    }

    .title {
        font-size: 36px;
        font-family: 'OpenSans-Regular';
        text-transform: uppercase;
        text-align: center;
        line-height: 1.2em;
        margin-bottom: 20px;
    }

    .bar {
        transform: rotate(30deg);
        left: -60vw;
    }

    @media all and (max-width: $responsive-1) {
        .title {
            font-size: 26px;
        }

        .subtitle {
            font-size: 16px;
        }
    }
}