.section-phone {
    .left {
        margin-right: 100px;
    }

    .brand, .brand svg {
        width: 48px;
        height: 48px;
        fill: $color-11;
    }

    .title {
        font-size: 36px;
        font-family: 'OpenSans-Regular';
        text-transform: uppercase;
        line-height: 1.2em;
        margin-bottom: 20px;
        color: $color-12;
        max-width: 350px;

        &-container {
            display: flex;
        }

        &-brands {
            width: 130px;
            margin-top: auto;
            margin-bottom: 20px;
        }
    }

    .overtitle {
        font-size: 18px;
        font-family: 'GeorgiaItalic';
        margin-bottom: 8px;
        color: $color-14;
    }

    .subtitle {
        font-size: 18px;
        font-family: 'OpenSans-Light';
        line-height: 1.6em;
        color: $color-13;
        margin-bottom: 30px;
    }

    .bar {
        transform: rotate(-170deg);
        right: -2vw;
        z-index: -1;
        top: 0;
    }

    @media all and (max-width: $responsive-2) {
        .section-container {
            flex-direction: column;
        }

        .left {
            width: 100%;
            margin: 0;

            &.turnable {
                transform: rotate(-45deg);
            }
        }
        
        .right {
            width: 100%;
            margin: 0;

            &.turnable {
                transform: rotate(45deg);
            }
        }

        .turnable {
            opacity: .3;
            position: absolute;
            z-index: -1;
            width: auto;
        }

        .title-brands {
            right: -20px;
        }
    }

    @media all and (max-width: $responsive-3) {
        .overtitle {
            font-size: 16px;
            text-align: center;
        }

        .title {
            font-size: 26px;
            text-align: center;
            max-width: 100%;
        }

        .subtitle {
            font-size: 16px;
            text-align: center;
        }

        .right, .left {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .title-brands {
            right: 0;
            position: relative;
            margin-bottom: 20px;
            text-align: center;
        }
    }
}